MONGODB=
# URL base del front (con o sin protocolo), ej. https://cheky.co o cheky.co
FRONTEND_PATH=
JWT_SECRET=
PORT=3002
DEFAULT_LIMIT=10
# Riskseal
REQUEST_RISKSEAL=
KEY_RISKSEAL=
# Nodemailer setup
MAILER_HOST=
MAILER_PORT=
MAILER_EMAIL=
MAILER_SECRET_KEY=